@*
    檢視檔：Views/Home/NO123.cshtml
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO123</title>
</head>
<body>
    <h2>學號：@ViewData["Number"]</h2>
    <h2>姓名：@ViewData["Name"]</h2>
</body>
</html>
